.site-header{
    background-color: #1F2937;
    padding: 0px 200px;
}

.site-header > ul{
    display: flex;
    align-items: center;
    padding: 0px;
    list-style-type: none;
    gap: 10px;
}

.header-logo{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-link{
    color: #E5E7EB;
    font-size: 18px;
}

.site-content{
    flex-grow: 1;
}

.site-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 75px;
    color: #E5E7EB;
    font-size: 14px;
}


/* !Destructive */
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}